name: Release Drafter

on:
  pull_request:
    branches: [main]
    types: [opened, reopened, closed]

permissions:
  contents: read

jobs:
  draft-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Create Draft Release
        id: release_drafter
        uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commitish: dev
          disable-autolabeler: true

    outputs:
      upload_url: ${{ steps.draft_releaser.outputs.upload_url }}
      resolved_version: ${{ steps.release_drafter.outputs.resolved_version }}kk

  build-cli-and-upload:
    if: ${{ github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main' }}
    needs: draft-release

    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer

      - name: Install Dependencies
        run: composer install --no-dev --no-interaction --no-progress --optimize-autoloader

      - name: Build CLI
        run: |
          php skeleton app:build
          \ --no-interaction
          \ --build-version="v${{ needs.draft-release.outputs.resolved_version }}"
          \ skeleton

      - name: Archive CLI
        run: |
          cd builds &&
          zip skeleton.zip skeleton &&
          tar -czf skeleton.tar.gz skeleton

      - name: Upload assets
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ needs.draft-release.outputs.upload_url }}
          asset_path: builds/*
